/* 
A Clockwork Teal

Created 04/2026 by lyri [#583579] for Ranjit
AGPL License: https://www.gnu.org/licenses/agpl-3.0.en.html

Previous CSS Code Credits: Katie [#106445], Pandora [#144118] & Kat [#94329], Tawny [#251887], Hok-Z [#41458], Austin [#43750] 

Full credits for code contributors, artwork, photos, icons, and fonts can be found at https://rio-codes.github.io/lioden-css/credits_phantom.txt .
*/

/* Import Fonts (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Nova+Round&display=swap');

/* Background image, font and font color, text alignment */
body {
    background: url("https://rio-codes.github.io/lioden-css/clockwork-shorter.webp") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    font-family: "Nova Round", serif;
    font-weight: 200 !important;
    font-style: normal;
    font-size: large;
    font-weight: bolder;
    color: #002731;
    text-shadow: 0 0 .6em, 0 0 1em #05a892;
}

/* CSS Credit */

.breadcrumb::after {
	content: "custom css by lyri | #583579 ";
	color: #7debdc !important;
	font-size: 12px;
	position:absolute;
	top: 6px;
	left: 30px;
}

/* Main panel container appearance*/

.container.main {
	background: radial-gradient(#7debdc, #00637c);
	opacity: 97%;
	border: solid 1px #002731;
	box-shadow: 0px 1px 10px #002731 !important;
	border-radius: 4px;
}

/* Make left panel background and border invisible */

.col-md-9 {
	background: none;
	border-right: none
}


/* Topbar (Welcome and account navigation) */

.topbar {
    background: linear-gradient(to right, #9b7300, #e2d6b2, #9b7300) !important;
	color: #002731;
	border: 0px;
	box-shadow: 0px 1px 10px #002731 !important;
	border-radius: 0px 0px 4px 4px;
}

/* Navbar (Den/Crossroads/Etc.) */

.navbar {
	background: linear-gradient(to right, #9b7300, #e2d6b2);
	border-bottom: none;
	color: #002731;
	border-radius: 10px 10px 0px 0px;
	opacity: 1;
}

.navbar li a {
	color: #002731 !important;
}

.navbar li a:hover {
	background: #9CE8D3 !important;
	border-bottom: none;
	color: #297560 !important;
	border-radius: 0px;
	filter: brightness(100%) opacity(90%);
	transition: 0.5s !important;
	height: 50px;
	width: auto !important
}

/* Breadcrumb (Home button, den owner, bookmark) */

.breadcrumb {
	background: #00637c !important;
	color: #7debdc !important;
	border: 0px !important;
	border-radius: 5px;
	text-align:left !important;
}

.breadcrumb .active {
	color: #7debdc !important;
}