/* 
A Clockwork Teal

Created 04/2026 by lyri [#583579] for Ranjit [#3581]
AGPL License: https://www.gnu.org/licenses/agpl-3.0.en.html

Previous CSS Code Credits: Katie [#106445], Pandora [#144118] & Kat [#94329], Tawny [#251887], Hok-Z [#41458], Austin [#43750] 

Full credits for code contributors, artwork, photos, icons, and fonts can be found at https://rio-codes.github.io/lioden-css/credits_clockwork.txt .
*/

/* Import Fonts (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Nova+Round&display=swap');

/* Background image, font and font color, text alignment */
body {
    background: url("https://rio-codes.github.io/lioden-css/clockwork-shorter.webp") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    font-family: "Nova Round", serif;
    font-weight: 200 !important;
    font-style: normal;
    font-size: large;
    font-weight: bolder;
    color: #002731;
    text-shadow: 0 0 .6em, 0 0 1em #e2d6b2;
}

/* CSS Credit */

.breadcrumb::after {
    content: "custom css by lyri";
    color: #002731 !important;
    font-size: 12px;
    position: absolute;
    top: 6px;
    left: 30px;
}

/* Link colors */

a:link,
a:visited {
    color: #005165;
    font-weight: 500;
    text-shadow: 0 0 .6em, 0 0 1em #e2d6b2 !important;
}

a:hover {
    color: #002731 !important;
    transition: 0.75s;
}

a img {
    border: none !important;
    text-decoration: none !important;
}

a:focus {
    outline: none !important;
}

/* Bookmark button */

input.floatright,
input.floatright:hover {
    background: #00637c !important;
    border: none !important;
    border-radius: 4px !important;
    color: #002731 !important;
}

/* Alerts (i.e. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
    background: #00637c !important;
    border: none;
    color: #002731;
    border-radius: 4px !important;
    padding: 5px;
    margin-top: 20px;
    text-align: right;
}

.alert a,
.alert-warning a,
.alert-danger a {
    color: #7debdc;
}

/* Main header appearance ("___"'s Den) */

h1 {
    font-family: "Atomic Age", Georgia, 'Times New Roman', Times, serif;
    font-size: 54px;
    color: #002731;
    font-weight: 400 !important;
    text-shadow: 0 0 .6em, 0 0 1em #e2d6b2 !important;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}

h1.center>small:nth-child(2) a:link,
h1.center>small:nth-child(2) a:visited,
p.center:nth-child(2)>a:nth-child(1) a:link,
p.center:nth-child(2)>a:nth-child(1) a:visited {
    color: #00637c !important;
}

h1.center>small:nth-child(2),
p.center:nth-child(2)>a:nth-child(1) {
    font-weight: 500 !important;
    color: #00637c !important;
}

h2 {
    font-family: "Atomic Age", Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #00637c !important;
    text-shadow: 0 0 .6em, 0 0 .2em #e2d6b2 !important;
}

/* Tertiary header */

h3 {
    font-family: "Atomic Age", Georgia, 'Times New Roman', Times, serif;
    font-size: 28px !important;
    font-size: 24px;
    font-weight: 800;
    color: #00637c !important;
    text-shadow: 0 0 .6em, 0 0 .3em #e2d6b2 !important;
}

/* Main panel container appearance*/

.container.main {
    background: radial-gradient(#7debdca7, #00637ca7);
    opacity: 1;
    border: 0px;
    box-shadow: 0px 0px 30px 20px #7debdca7 !important;
    border-radius: 10px;
}

/* Make left panel background and border invisible */

.col-md-9 {
    background: none;
    border-right: none
}


/* Topbar (Welcome and account navigation) */

.topbar {
    background: linear-gradient(to right, #5d4808, #e2d6b2, #5d4808) !important;
    color: #002731;
    border: 0px;
    box-shadow: 0px 1px 10px #002731 !important;
    border-radius: 0px 0px 4px 4px;
}

.topbar a {
    color: #000000 !important;
    font-weight: 500;
}


/* Navbar (Den/Crossroads/Etc.) */

.navbar {
    background: linear-gradient(to right, #5d4808, #e2d6b2, #5d4808);
    border-bottom: none;
    color: #002731;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    box-shadow: 0px 4px 4px #002731 !important;
}

.navbar li a {
    color: #002731 !important;
}

.navbar li a:hover {
    background: #00637c !important;
    border-bottom: none;
    color: #002731 !important;
    border-radius: 0px;
    filter: brightness(100%) opacity(90%);
    transition: 0.5s !important;
    height: 50px;
    width: auto !important
}

/* Breadcrumb (Home button, den owner, bookmark) */

.breadcrumb {
    background: #00637c !important;
    color: #7debdc !important;
    border: 0px !important;
    border-radius: 5px;
    text-align: left !important;
}

.breadcrumb .active {
    color: #7debdc !important;
}



/* Right-side panel appearance */

.sidebar h3 {
    font-family: "Atomic Age", Georgia, 'Times New Roman', Times, serif;
    font-size: 20px !important;
    font-weight: 800;
    color: #002731 !important;
    text-shadow: 0 0 .6em, 0 0 .2em #e2d6b2 !important;
    text-align: right;
    position: relative;
    padding-top: 25px;

}

.sidebar a {
    color: #002731;
}

.panel {
    background: linear-gradient(to right, #5d4808, #e2d6b2, #5d4808) !important;
    color: #002731;
    font-size: 24px;
    text-align: right;
    opacity: 0.9;
    border: 0px !important;
    z-index: 50;
    opacity: 100%;
    text-shadow: 0 0 .6em, 0 0 1em #e2d6b2 !important;

}

.panel-body.small {
    background: radial-gradient(#e2d6b2, #5d4808) !important;
    color: #002731;
    font-size: 13px;
    z-index: 50;
    box-shadow: 0px 4px 4px #002731 !important;
}

.col-md-3 .panel {

    border: transparent;
    box-shadow: 0px 4px 6px #002731 !important;
}

.panel-body.small .center a,
.panel-body.small a {
    color: #002731;
    font-weight: 200 !important;
    color: #002731 !important;
    text-shadow: 0 0 .6em, 0 0 1em #e2d6b2 !important;
}

div.col-md-12:nth-child(3)>div:nth-child(4)>p:nth-child(2) {
    display: none;
}

/* Replace Lioden Logo */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a {
    border: transparent !important;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
    content: url('');
}