/* 
Persephone Returns

Created 04/2026 by lyri [#583579] for Dallas [#387077]
AGPL License: https://www.gnu.org/licenses/agpl-3.0.en.html

Previous CSS Code Credits: Katie [#106445], Pandora [#144118] & Kat [#94329], Tawny [#251887], Hok-Z [#41458], Austin [#43750] 

Full credits for code contributors, artwork, photos, icons, and fonts can be found at https://rio-codes.github.io/lioden-css/credits_persephone.txt .
*/

/* Import Font (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lavishly+Yours&display=swap');

/* CSS Credit */

.breadcrumb::after {
	background: transparent;
	content: "custom css by lyri";
	color: #2f5f65;
	font-family: "Lavishly Yours", cursive;
	font-size: 25px;
	position: absolute;
	top: 5px;
	left: 25px;
}

/* Background image, font and font color, text alignment */

body {
	background: url("https://rio-codes.github.io/lioden-css/meadow.webp");
	background-size: cover;
	background-clip: content-box;
	background-attachment: fixed;
	font-family: "Bellota", system-ui;
	font-weight: 200 !important;
	font-style: normal;
	font-size: large;
	font-weight: bolder;
	color: #d0f5fa;
	text-shadow: 0 0 .6em, 0 0 .2em #ebefef;
}

/* Link colors */

a:link,
a:visited {
	color: #579ea8;
	font-weight: 500;
	text-shadow: 0 0 .6em, 0 0 1em #d0f5fa !important;
}

a:hover {
	color: #d0f5fa !important;
	transition: 0.5s;
}

a img {
	border: none !important;
	text-decoration: none !important;
}

a:focus {
	outline: none !important;
}

/* Text input boxes */

input,
select,
textarea {
	background: #579ea8 !important;
	border: none !important;
	border-radius: 5px !important;
	box-shadow: none !important;
	text-shadow: none !important;
	color: #d0f5fa !important;
	font-weight: 600;
}

div.comment,
small.text-muted {
	color: #D0F5FA;
	font-weight: 800;
	text-shadow: 0 0 .6em, 0 0 1em #d0f5fa !important;
}


/* Main header appearance ("___"'s Den) */

h1 {
	font-family: "Lavishly Yours", cursive;
	font-size: 64px;
	color: #d0f5fa;
	font-weight: 800 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
	-webkit-background-clip: text;
	text-align: center;
}

h1.center>small:nth-child(2) a:link,
h1.center>small:nth-child(2) a:visited,
p.center:nth-child(2)>a:nth-child(1) a:link,
p.center:nth-child(2)>a:nth-child(1) a:visited {
	color: #579ea8 !important;
}

h1.center>small:nth-child(2),
p.center:nth-child(2)>a:nth-child(1) {
	font-weight: 500 !important;
	color: #579ea8;
}

h2 {
	font-family: "Lavishly Yours", cursive;
	font-size: 45px;
	color: #579ea8;
	text-shadow: 0 0 .6em, 0 0 .2em #90d5de !important;
}

/* Tertiary header */

h3 {
	font-family: "Lavishly Yours", cursive;
	font-size: 40px !important;
	font-weight: 800;
	color: #579ea8;
	text-shadow: 0 0 .6em, 0 0 .2em #ffffff !important;
}

/* Main panel container appearance*/

.container.main {
	background: #90d5dead;
	border: solid 1px #d0f5fa;
	color: #579ea8;
	text-shadow: 0 0 .6em, 0 0 1em #90d5de !important;
	font-size: medium;
}

/* Switch Account and Bug Box buttons */

.btn:hover,
button.button:hover {
	background: #d0f5fa;
	border: none !important;
	border-radius: 2px;
	text-shadow: none !important;
	color: #f39cbf !important;
}

.btn img {
	display: none;
}

.btn,
button.button,
.btn.btn {
	background: #d0f5fa;
	border: none !important;
	border-radius: 4px;
	text-shadow: none !important;
	color: #2f5f65 !important;
}

/* Make left panel background and border invisible */

.col-md-9 {
	background: none;
	border-right: none
}

/* Topbar (Welcome and account navigation) */

.topbar {
	background: #90d5dea2;
	border: none;
	color: #2f5f65;
	padding: 5px;
	margin-top: 0px;
	text-align: right;
	z-index: 50;
	opacity: 100%;
	font-size: medium;
}

.topbar a {
	color: #2f5f65 !important;
}

/* Navbar (Den/Crossroads/Etc.) */

.navbar {
	font-family: Bellota;
	background: #ffeea38f;
	border-bottom: none;
	color: #2f5f65 !important;
	text-shadow: 0 0 .6em, 0 0 1em #fff7d3 !important;
	opacity: 1;
	font-size: x-large;
}

.navbar li a {
	color: #2f5f65 !important;
	font-family: Bellota;
	font-weight: 800 !important;
}

.navbar li a:hover {
	background: #579ea8 !important;
	border-bottom: none;
	color: #90d5de !important;
	border-radius: 0px;
	filter: brightness(100%) opacity(90%);
	transition: 0.5s !important;
	height: 50px;
	width: auto !important;
}

/* Breadcrumb (Home button, den owner, bookmark) */

.breadcrumb {
	background: #579ea8 !important;
	color: #90d5de !important;
	border-radius: 5px;
	text-align: left !important;
	box-shadow: 0px 1px 10px #90d5de !important;
	font-size: medium;
	z-index: 50;
	opacity: 100%;
	margin-top: 10px;
}

.breadcrumb a {
	color: #ebeff0;
}

.breadcrumb .active {
	color: #ebeff0;
}

/* About me table and art */

div#fraProfileContent {
	column-count: 2;
	align-items: center;
}

.wolfatail-art {
	width: 100%;
}

.table.pun-table {
	background: #ffeea38f;
	opacity: .95;
	color: #2f5f65;
}


/* Notifications */

.alert,
.alert-warning,
.alert-danger {
	background: #579ea8 !important;
	color: #90d5de !important;
	border: 0px;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	z-index: 50;
	opacity: 100%;
}

.alert a,
.alert-warning a,
.alert-danger a {
	color: #90d5de;
	text-shadow: 0 0 1em, 0 0 1em #ebeff0 !important;
}

.alert a:hover,
.alert-warning a:hover,
.alert-danger a:hover {
	color: #90d5de;
	opacity: 0.7;
}

/* Right-side panel appearance */

.sidebar h3 {
	background: transparent !important;
	font-family: "Lavishly Yours", cursive;
	font-size: 40px !important;
	font-weight: 800;
	color: #579ea8;
	text-shadow: 0 0 .6em, 0 0 .2em #ffffff !important;
	text-align: right;
	position: relative;
	padding-top: 25px;
	border: 0px !important;
}

.sidebar a {
	color: #d7bf70;
}

.panel {
	background: transparent;
	color: #579ea8 !important;
	text-align: right;
	opacity: 0.9;
	border: 0px !important;
	z-index: 50;
	opacity: 100%;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

.panel-body.small {
	background: #579ea8;
	color: #2f5f65;
	font-size: 13px;
}

.panel-body.small .center a,
.panel-body.small a {
	font-weight: 200 !important;
	color: #d0f5fa !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

.pun-links a,
.pun-graphics a,
.pun-links {
	position: relative;
	color: #2f5f65;
	z-index: 100;
}

.pun-table {
	border: 20px 0 0 0 #2e2e07;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

/* Progress bars (Energy, hunger, EXP, IMP) */
.progress {
	background: #fff7d3;
	text-shadow: 0 0 .6em, 0 0 .5em #fff7d3 !important;
	color: #000000 !important;
	font-weight: bolder;
	font-size: 16px !important;
}

.progress-bar,
.progress-bar-danger,
.progress-bar-success {
	background: linear-gradient(to right, #fff7d3, #ffeea3, #579ea8);
}

.progress div {
	transition: .5s;
	font-weight: 700 !important;
	text-shadow: 0 0 .6em, 0 0 .5em #fff7d3 !important;
	color: #2f5f65 !important;
	font-weight: bolder;
}

/*  Lion profile table and headers (Level, Stats, Territory Count, Etc.) */

.table {
	background: radial-gradient(#d0f5fa03, #2f5f6503);
	border: none !important;
	border-collapse: inherit;
	border-radius: 10px;
	box-shadow: 0px 5px 30px #579ea8 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
	font-size: 14px;
	font-weight: 300 !important;
	position: absolute;
	color: #2f5f65;
	hyphens: auto;
	overflow: hidden;
	position: relative;
	opacity: 1;
}

.table#pride tbody {
	font-weight: 100;
	font-size: 12px;
	color: #2f5f65;
}

.table#pride a {
	color: #2f5f65;
}

.table#pride tbody tr th a {
	color: #2f5f65;
	font-weight: 300 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

.top,
.top a,
th,
table#attack th {
	background: #579ea8 !important;
	color: #d0f5fa !important;
	font-weight: 300 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

.bottom,
th {
	background: #ffeea38f !important;
	border: 1px #d7bf70;
	color: #2f5f65 !important;
	font-weight: 300 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

.bottom a {
	color: #2f5f65 !important;
}


td.bottom button {
	margin-top: 10px;
}

.inner-table .left {
	background: #579ea8 !important;
	color: #d0f5fa;
	font-weight: 300 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

.inner-table .right {
	background: #d0f5fa;
	color: #579ea8;
	font-weight: 300 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

td.right {
	border: 0px !important;
	font-weight: 300 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

td.left,
p.b {
	border: 0px !important;
	background: transparent !important;
	font-weight: 300 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}


.right_odd {
	background: none !important
}

div.left:nth-child(7)>a:nth-child(1) {
	color: #d0f5fa;
}

/* Lion and user profile pictures */

div#lion_image {
	border-radius: 20px !important;
	overflow: hidden;
	border: dotted 3px #d0f5fa;
	box-shadow: 0px 5px 30px #579ea8 !important;
	transition: 0.2s;
	margin-top: 15px;
	margin-left: 12px;
}

div#lion_image:hover {
	transform: scale(1.05);
	transition: 0.4s;
	opacity: 1;
	box-shadow: 0px 5px 30px #579ea8 !important;
}

table#player {
	color: #d0f5fa;
	font-weight: 800 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

div.xlarge a,
p.center a,
#player>tbody:nth-child(1)>tr:nth-child(3) a {
	color: #d0f5fa;
	font-weight: 800 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

table#player img {
	border-radius: 20px !important;
	overflow: hidden;
	border: dotted 3px #d0f5fa;
	box-shadow: 0px 5px 30px #579ea8 !important;
	opacity: 0.9;
	overflow: hidden;
}

/* Recent Allies */

#allies tbody span {
	font-size: 14px;
	font-weight: bolder !important;
	color: #d0f5fa;
	text-shadow: 0 0 .4em, 0 0 .8em #d7bf70 !important;
}

#allies tbody span a {
	font-size: 14px !important;
	font-weight: bolder !important;
	text-shadow: 0 0 .4em, 0 0 .8em #d7bf70 !important;
}

/* Cave and Beetle Mound grid appearances*/

.cave-grid,
.mound-grid {
	background: #d7bf70;
	color: #4f4e0f;
	border: solid 1px #d7bf70 !important;
	border-radius: 10px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" panel appearance */

.feature {
	background: radial-gradient(#d0f5fa03, #2f5f6503) !important;
	color: transparent !important;
	border: none !important;
	border-radius: 0px !important
}

.feature,
div.left {
	background: #d0f5fa03;
}

.feature,
div.left h3,
.feature h3,
div.row:nth-child(20) h3,
div.row:nth-child(20) span,
span.xsmall:nth-child(1) {
	font-weight: 500 !important;
	color: #d0f5fa !important;
}

div.col-md-4 div h3 {
	color: #d0f5fa !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

#sparring {
	color: #d0f5fa !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

.xsmall {
	color: #d0f5fa !important;
	padding: 5px;
}

#pageContainer>center:nth-child(5)>b:nth-child(18) {
	font-weight: 200;
}

div.feature {
	color: #579ea8 !important;
	font-weight: 200;
	height: 140px;
	padding: 5px;
}

/* Remove icons and edit text for user profile buttons */

div.xlarge:nth-child(4)>a>img,
td.right_odd:nth-child(1)>a:nth-child(1)>img:nth-child(1),
td.right_odd:nth-child(2)>a:nth-child(1)>img:nth-child(1) {
	display: none;
}

span.text-muted {
	opacity: 0%;
}

#player>tbody>tr:nth-child(3)>td:nth-child(1)>a {
	font-size: 0px;
}

#player>tbody>tr:nth-child(3)>td:nth-child(1)>a::after {
	content: 'Block Member';
	font-size: 13px;
}

#player>tbody>tr:nth-child(3)>td:nth-child(2)>a::after {
	content: '';
	font-size: 14px;
}

#player>tbody>tr.right>td:nth-child(1)>div.xlarge>a:nth-child(1) {
	font-size: 0px;
}

#player>tbody>tr.right>td:nth-child(1)>div.xlarge>a:nth-child(1)::after {
	content: 'Message';
	font-size: 18px;
}

#player>tbody>tr.right>td:nth-child(1)>div.xlarge>a:nth-child(3) {
	font-size: 0px;
}

#player>tbody>tr.right>td:nth-child(1)>div.xlarge>a:nth-child(3)::after {
	content: 'Send Gift!';
	font-size: 18px;
}

#player>tbody>tr.right>td:nth-child(1)>div.xlarge>a:nth-child(5) {
	font-size: 0px;
}

#player>tbody>tr.right>td:nth-child(1)>div.xlarge>a:nth-child(5)::after {
	content: 'Create Trade';
	font-size: 18px;
}

#player>tbody>tr.right>td:nth-child(1)>p>a:nth-child(3)::after {
	padding: 15px;
}

#player>tbody>tr.right>td:nth-child(1)>p.center:nth-child(5)>a:nth-child(1)>img:nth-child(1) {
	display: none;
}

#player>tbody>tr.right>td:nth-child(1)>p.center:nth-child(5)>a:nth-child(3)>img:nth-child(1) {
	display: none;
}

/* Cave and Beetle Mound grid appearances*/

.cave-grid,
.mound-grid {
	background: #ffeea38f;
	opacity: .95;
	color: #2f5f65;
	border: 0px !important;
	border-radius: 10px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" panel appearance */

.feature {
	background: transparent !important;
	color: #085e46 !important;
	border: none !important;
	border-radius: 0px !important
}

.feature,
div.left {
	background: transparent;
}

.feature,
div.left h3,
.feature h3 {
	font-weight: 500 !important;
	color: #d7bf70 !important;
}

#sparring {
	color: #222504 !important;
	text-shadow: 0 0 .6em, 0 0 1em #d7bf70 !important;
}

.xsmall {
	color: #d7bf70 !important;
	padding: 5px;
}

#pageContainer>center:nth-child(5)>b:nth-child(18) {
	font-weight: 200;
}

div.feature {
	color: #d7bf70 !important;
	font-weight: 200;
	height: 140px;
	padding: 5px;
}


/* Image Replacement */

.boxtopper>img:nth-child(1) {
	display: none;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a {
	border: transparent !important;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://cdn.allthepics.net/images/2026/04/19/persephone-logo-5.png');
	width: 158px;
	opacity: 1;
	transition: 1s !important;
	padding: none;
	float: left;
	z-index: 1;
}

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img:hover {
	content: url('https://cdn.allthepics.net/images/2026/04/19/persephone-logo-5.png');
	opacity: 0.8;
	transition: 1s !important;
}

div.mound-grid img {
	position: relative;
	left: -10px;
	right: -10px;
	top: -10px;
	width: 200px
}

#fraOrganizationBlock>div>a>div>img:hover,
div.mound-grid img:hover,
div.col-xs-4:nth-child(2)>a:nth-child(1)>div:nth-child(1)>img:nth-child(1):hover,
#fraCaveList>div:nth-child(2)>a:nth-child(1)>div:nth-child(1)>img:nth-child(1):hover,
#fraCaveList>div:nth-child(3)>div:nth-child(1)>img:nth-child(1):hover {
	filter: brightness(50%) opacity(70%);
	transition: 0.5s;
}

div.cave-grid>img[src$="nestingbanner.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/pink-flowers-old-photo.jpg') !important;
	object-fit: cover !important;
	height: 100px !important;
	width: 300px !important;
	border: 5px ridge;
	border: 0px;
	border-radius: 0px !important;
}

div.cave-grid>img:hover {
	filter: brightness(80%) opacity(70%);
	overflow: hidden;
	transition: 0.5s !important;
}

div.cave-grid>img[src$="prideoverviewbanner.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/flower-meadow-summitcheese.jpg') !important;
	object-fit: cover !important;
	height: 100px !important;
	width: 300px !important;
	filter: brightness(90%) opacity(80%);
}

div.cave-grid>img[src$="unsortedlionsbanner.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/blue-flowers-DeusXFlorida.jpg') !important;
	object-fit: cover !important;
	height: 100px !important;
	width: 300px !important;
	filter: brightness(90%) opacity(80%);
}

div.cave-grid>img {
	content: url('https://cdn.allthepics.net/images/2026/04/20/pink-flowers-swaminathan.jpg') !important;
	object-fit: cover !important;
	height: 100px !important;
	width: 300px !important;
	filter: brightness(90%) opacity(80%);
}

.mound-grid img {
	content: url('https://cdn.allthepics.net/images/2026/04/20/blue-flowers-HiggySTFC.jpg') !important;
	object-fit: cover !important;
	height: 100px !important;
	width: 300px !important;
	filter: brightness(90%) opacity(80%);
}

#fraCaveList>div:nth-child(2)>a:nth-child(1)>div:nth-child(1)>img:nth-child(1) {
	content: url('https://cdn.allthepics.net/images/2026/04/20/blue-flowers-old-photo.jpg') !important;
	object-fit: cover !important;
	height: 100px !important;
	width: 300px !important;
	filter: brightness(90%) opacity(80%);
}

#fraCaveList>div:nth-child(3)>div:nth-child(1)>img:nth-child(1) {
	content: url('https://cdn.allthepics.net/images/2026/04/20/blue-flowers-oatsy40.jpg') !important;
	object-fit: cover !important;
	height: 100px !important;
	width: 300px !important;
	filter: brightness(90%) opacity(80%);
}

div.col-xs-4:nth-child(2)>a:nth-child(1)>div:nth-child(1)>img:nth-child(1) {
	content: url('https://cdn.allthepics.net/images/2026/04/20/blue-flowers-prague.jpg') !important;
	object-fit: cover !important;
	height: 100px !important;
	width: 300px !important;
	filter: brightness(90%) opacity(80%);
}

img[src$="den_ancestors.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/blue-flowers-oatsy40.jpg');
	object-fit: cover;
	height: 100px !important;
	width: 2 !important;
	filter: brightness(90%) opacity(80%);
}

img[src$="ancestorsfem.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/Up_Flower_Meadow_Mineral_King.jpg');
	object-fit: cover;
	height: 100px !important;
	width: 2 !important;
	filter: brightness(90%) opacity(80%);
}

img[src$="den_achievements.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/blue-flowers-old-photo.jpg');
	object-fit: cover;
	height: 100px;
	width: 2 !important;
	filter: brightness(90%) opacity(80%);
}

img[src$="den_showcase.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/pink-flowers-old-photo.jpg');
	object-fit: cover;
	height: 100px;
	width: 2 !important;
	filter: brightness(90%) opacity(80%);
}

img[src$="den_beetlebook.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/blue-flowers-prague.jpg');
	object-fit: cover;
	height: 100px;
	width: 2 !important;
	filter: brightness(90%) opacity(80%);
}

img[src$="iconFB.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/persephone-FB.png');
	object-fit: cover;
	height: 50px;
	width: 50px;
	overflow: hidden;
}

img[src$="iconTwit.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/persephone-twit.png');
	object-fit: cover;
	height: 50px;
	width: 50px;
	position: relative;
	top: 2px;
	overflow: hidden;
}

img[src$="iconInsta.png"] {
	content: url('https://cdn.allthepics.net/images/2026/04/20/persephone-insta.png');
	object-fit: cover;
	height: 50px;
	width: 50px;
	overflow: hidden;
}

img[src$="default.png"] {
	content: url("https://cdn.allthepics.net/images/2026/04/20/floweringfynbos.png")
}

/* Pagedoll */

.container.main::after {
	content: "";
	background-image: url('https://cdn.allthepics.net/images/2026/04/19/persephone_pagedoll_sm_2.png');
	background-size: cover;
	display: block;
	height: 250px;
	width: 250px;
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 30;
	pointer-events: none;
	opacity: 0.8;
}

span.xsmall {
  color: #90d5de;
}

/* Background fix for mobile */
@media only screen and (max-width: 767px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://rio-codes.github.io/lioden-css/meadow.webp') no-repeat center center;
        background-size: cover;
        z-index: -1;
    }
}


/*																						  			    		 */
/* "If there is in fact a creator, he must have an inordinate fondness for beetles." - biologist, J.B.S. Haldane */
/*																						  			    		 */
/*         (Beetles make up 40% of all insect species and 25% of animal species on Earth.)         				 */